@font-face {
    font-family: "Assinature";
    src: url('assinature.otf') format('opentype');
}

body{
    font-family: 'Arial';
    background-color: #f7f7f7;
    display: grid;
    justify-content: center;
}

.container-n1{

}

h1{
    font-family: 'Assinature';
    text-align: center;
    font-size: 4rem;
    color: red;
}

.container-n1-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

a{
    text-decoration: none;
    padding: 30px 50px;
    background-color: white;
    border-radius: 14px;
    border: 2px solid red;
    color: #FF574D
}

.container-n2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1980px;
    margin: 150px 2rem;
    align-content: center;
    justify-content: center;
}

.grid-1{
    text-align: center;
    padding: 40px;
}

.grid-1-span{
    text-align: left;
    color: red;
    font-size: 4.5rem;
    font-family: 'Assinature';
}

.grid-1-text{
    line-height: 5;
    letter-spacing: 3.25px;
    margin: 2rem 1rem 0 1rem;
    font-size: 1.2rem;
}

.grid-1-btn{
    display: grid;
    width: 390px;
    margin: 1rem auto;
}

.grid-1-btn:hover{
    transform: scale(1.02);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3);
}


.container-n2-grid-2 img {
    max-width: 100%;
    width: 100%;
    height: 700px;
    border-radius: 20px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    border: 8px solid #fff;
    opacity: 0.9;
    filter: brightness(0.98) contrast(1.1) saturate(1.2);
    transition: all 0.3s ease-in-out;
}

.container-n2-grid-2 img:hover {
    transform: scale(1.02);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3);
}

.container-n2-grid-3{
    text-align: right;
    align-self: center;
    padding: 40px;

}

.grid-3-titulo{
    font-size: 64px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.2);
}

.container-n2-grid-4{
    position: relative;
}

.grid-4-item{
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 40px;
    gap: 1rem
}

.grid-4-item p{
    grid-column: 2;
}

.grid-4-item span{
    text-transform: uppercase;
}

.detalhe-1{
    width: 330px;
    height: 4px;
    background-color: red;
    position: absolute;
    top: 150px;
    left: -35px;
}



.detalhe-2{
    width: 230px;
    height: 4px;
    background-color: red;
    position: absolute;
    top: 330px;
    left: -35px;
}

.detalhe-3{
    width: 130px;
    height: 4px;
    background-color: red;
    position: absolute;
    bottom: 12px;
    left: -35px;
}